@charset "utf-8";

/* This is css document for the fixed-layout web page */
/* Developed by:Shuixiu Tan */
/* Script Date:September 26,2019 */


/* Styling the body selector */
body {
    margin:0;
    padding:0;
    font-size:12px;
    font-family:Arial, Helvetica, sans-serif;	
}

/* Styling the container id selector */



#headerBackground {
	width:100%;
	background-color:#000000;
	height: 100px;
}

/* styling the header id selector */

#header {
    width: 1360px;
	color:white;
	margin:auto;
    1background-color: #fffff0; 
    1height: 100px;
}

#container {
    width: 1360px;
	margin:auto;
}

/* styling the nav bar */

#navbar {
	padding-top:20px;
    width: 1360px;
	height:40px;
}

#navbar a{
	color:black;
	font-weight:bold;
	font-size:15px;
	text-decoration: none;
	margin:0 40px 0 0;
	
}

/* styling the main element*/

#main{
	width: 1360px;
}

#shopDepartments{
	1border:2px solid black;
	width:1360px;
	1height:250px;
	margin:40px 0 0 100px;
	
}

.departmentsTitle a{
	margin:0 0 0 75px;
	font-weight:bold;
	font-size:18px;
	text-decoration: none;
	color:black;
}

.thumbnail{

	1border:2px solid black;
	width:200px;
	1height:250px;
	float:left;
	1padding:20px 20px 20px 20px;	
	margin-left:80px;
	
	
}

1#boyThumbnail {
	1border:2px solid black;
	width:200px;
	1height:250px;
	float:left;
	1padding:20px 20px 20px 20px;	
	margin-left:80px;
}
1#girlThumbnail {
	1border:2px solid black;
	width:200px;
	float:left;
	1height:250px;
	margin-left:80px;
}

1#toddlerThumbnail {
	1border:2px solid black;
	width:200px;
	float:left;
	1height:250px;
	margin-left:80px;
} 

1#babyThumbnail {
	1border:2px solid black;
	width:200px;
	float:left;
	1height:250px;
	margin-left:80px;
}

/* styling the footer element */
#footer {
    width: 1360px;
    background-color: #d6d5d2;
    height: 40px;
    clear: both;
}

.thumbnail img{ border-radius:50%}


